/*body {
  padding-bottom: 70px;
}*/

.container {
  margin: 5px;
}

/*
.grid-item-color {
  width: 4%;
  height: 32px;
  cursor: pointer;
}

.grid-item-effect {
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 6px;
  white-space: normal;
  cursor: pointer;
}
*/